* {
    margin: 0;
    padding: 0;
    list-style: none;
}



.wrap {
    width: 100%;
    overflow: hidden;
    background: black;
}

.navi {
    max-width: 2000px;
    margin: 0 auto;
    padding: 50px;
    margin-bottom: 40px;
    /* border: 1px solid wheat; */
}

.jejulogo {
    float: left;
}

.jejunav {
    float: left;
    margin-left: 300px;
    width: 1200px;
    /* border: 1px solid wheat; */
    height: 70px;
}

.jejunav > ul {
    display: inline-block;
    /* border: 1px solid wheat; */
    width: 1000px;
}

.jejunav > ul > li {
    float: left;
    /* border: 1px solid wheat; */
    width: 150px;
    height: 50px;
    line-height: 50px;
    margin-right: 50px;
    overflow: hidden;
}

.jejunav > ul > li > a {
color: #ff5000;
display: block;
font-size: 18px;
height: 16px;
text-decoration: none;
text-align: center;
}


.jejunav ul li a span {
    display: inline-block;
    position: relative;
    transition: 0.4s;
}
  
.jejunav ul li a:hover span:before {
    content: attr(data-hover);
    position: absolute;
    top: 100%;
    font-weight: 600;
    /* overflow: hidden; */
    
}
  
.jejunav ul li a:hover span {
    transform: translateY(-100%);
}



#rightmenu {
    /* clear: both; */
    float: right;
    /* border: 1px solid wheat; */
    width: 200px;
    height: 50px;
    line-height: 20px;
    padding: 5px;
}

select {
    width: 100px;
    height: 30px;
    font-weight: 600;
    background: black;
    color: white;
}

.login {
    float: right;
    margin-top: 7px;
}

.login a {
    text-decoration: none;
    text-align: center;
    color: #ff915d;
    font-size: 18px;
}

.wrap2 {
    width: 100%;
    margin: auto;
    background: url(images/mainbg1.png);
    /* border: 1px solid red; */
}

.main {
    max-width: 1850px;
    margin: 0 auto;
    padding: 200px 0 0 0;
    /* border: 1px solid red; */
}

.inner {
    /* border: 1px solid red; */
    width: 1320px;
    width: auto;
}

#main_bg {
    width: 2000px;
    height: 1000px;
    background: url(images/Artboard1.png) no-repeat;
    background-position: 720px 0;
}


.left_txt {
    margin-left: 100px;
    float: left;
}

.txt1 {
    font-size: 40px;
    font-weight: 600;
}

.txt2 {
    font-size: 25px;
    margin-top: 5px;
}

.right_txt {
    float: right;
}

.txt3 {
    font-size: 70px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
}

.txt4 {
    font-size: 30px;
    text-align: right;
    margin-top: 10px;
    font-family: 'Nanum Gothic', sans-serif;
}

.banner {
    
    clear: both;
    float: left;
}

#main_air {
    margin: 200px 100px 0 100px;
    float: right;
    animation:ani 1.8s infinite alternate; 
}

@keyframes ani{
    0%{transform:translate(0,0);}
    100%{transform:translate(0,70px);}
}

#down_banner {
    margin: 0 auto;
    position: relative;
    height: 305px;
    /* border: 1px solid red; */
    margin: 0;
    padding: 0;
}

.dugod {
    position: absolute;
    top: 75px;
    right: 28px;
    width: 250px;
    height: 50px;
    color: #ff5000;
    /* border: 1px solid red; */
}

.dugod > a {
    text-decoration: none;
}

.dugod > span {
    margin-right: 10px;
    font-size: 23px;
    font-family: 'Nanum Gothic', sans-serif;
    cursor: pointer;
}

.dugod > span:hover {
    font-weight: 600;
}

#main_down_banner {
    position: absolute;
    top: 330px;
    left: 120px;
}

#main_down_banner > ul {
    list-style: none;
    margin: 0;
    padding: 0;
    width: 1690px;
    height: 60px;
    /* border: 1px solid red; */
}

#main_down_banner > ul > li {
    display: inline-block;
    margin: 10px 85px 0 80px;
}

#main_down_banner > ul > li img {
    width: 45px;
    height: 45px;
    float: left;
}

#main_down_banner > ul > li span {
    margin-top: 8px;
    float: left;
    font-size: 23px;
    color: #555;
    margin-left: 13px;
}

#main_down_banner > ul > li span:hover {
    font-weight: 600;
    color: #ff5000;
}

.wrap3 {
    width: 100%;
}

.gogo {
    width: 100%;
    margin: 0 auto;
    height: 1500px;
    text-align: center;
}

.gogotxt {
    /* border: 1px solid red; */
    margin-top: 390px;
}

.gogotxt > h1 {
    font-size: 55px;
    margin-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.gogotxt > h2 {
    font-size: 22px;
    font-weight: 300;
    font-family: 'Nanum Gothic', sans-serif;
}

.gogo1 > ul li {
    display: inline-block;
    padding: 40px;
    margin: 170px 46px 0 0;
    background: white;
    box-shadow: 8px 15px 30px rgb(255, 231, 210);
    border-radius: 15px;
    overflow: hidden;
}

.gogotxt1 {
    margin: 50px 0 15px 0;
    color: rgb(93, 93, 93);
    font-weight: 600;
    text-align: center;
    font-size: 27px;
    font-family: 'Nanum Gothic', sans-serif;
}
    
.gogotxt2 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
}
    
.gogotxt3 {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 20px;
}

.gogobox1,.gogobox2,.gogobox3,.gogobox4 {
    overflow: hidden;
}

.gogobox1,.gogobox2,.gogobox3,.gogobox4 img {
    border-radius: 35px;
}

.gogobox1:hover img:first-child {
opacity: 1;
transform: scale(1.1);
transition: 0.5s;
}

.gogobox2:hover img:first-child {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}

.gogobox3:hover img:first-child {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}

.gogobox4:hover img:first-child {
    opacity: 1;
    transform: scale(1.1);
    transition: 0.5s;
}

.btn > button {
    border: none;
    width: 300px;
    height: 65px;
    line-height: 65px;
    margin: 180px;
    font-size: 20px;
    background: #ff5000;
    border-radius: 25px;
    }

.btn > button > a {
    text-decoration: none;
    color: white;
}
    
.btn > button:hover {
    background: rgb(255, 241, 233);
}

.btn > button:hover a {
    color: #ff5000
}

.line {
    border-top: 1px solid #cecece;
    margin: 0 auto;
    width: 80%;
    }

.rhdwl{
    max-width: 2500px;
    margin: 0 auto;
    height: 1500px;
    text-align: center;
}

.rhdwltxt {
    /* border: 1px solid red; */
    margin-top: 250px;
}

.rhdwltxt > h1 {
    font-size: 55px;
    margin-bottom: 20px;
    font-family: 'Nanum Gothic', sans-serif;
}

.rhdwltxt > h2 {
    font-size: 22px;
    font-weight: 300;
    font-family: 'Nanum Gothic', sans-serif;
    margin-bottom: 50px;
}

.rhdwl {
    height: 1000px;
}

.rhdwlbox {
    width: 100%;
    overflow: hidden;
    /* border: 1px solid red; */
    
    
}

.rhdwlbox1 {
    margin: 0 auto;
    margin-top: 20px;
    max-width: 1500px;
    height: 120px;
    background: url(images/rbfrbf.png) no-repeat;

    /* border: 1px solid red; */
}

.rhdwlbox1 a {
    text-decoration: none;
    color: black;
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 21px;
    display: block;
    padding-top: 33px;
    font-weight: 600;
}

.rhdwlbox1 a:hover {
    font-weight: 600;
    color: rgb(255, 255, 255);
}

.wrap4 {
    width: 100%;
    margin-top: 280px;
    background: url(images/Artboard\ 1.png)


    /* border: 1px solid black; */
}

.sns {
    margin: 0 auto;
    overflow: hidden;
    max-width: 1800px;
    padding: 35px;
    /* border: 1px solid black; */
}

.btn1 {
    max-width: 500px;
    float: left;
    margin: 145px 0 0 190px;
    
}

.btntxt1 {
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 600;
    font-size: 37px;
    margin-top: 80px;
}

.btntxt2 {
    font-family: 'Noto Sans KR', sans-serif;
    font-size: 19px;
    margin-top: 10px;
}

.snsbtn {
    width: 235px;
    height: 35px;
    margin-left: 17px;
    margin-top: 15px;
    font-size: 15px;
    background: #ff5000;
    border-radius: 25px;
    border: none;
}

.snsbtn > a {
    text-decoration: none;
    color: white;
}

.snsbox {
    width: 925px;
    height: 578px;
    float: right;
    margin-right: 200px;
    background: url(images/insta.png);
}


footer {
    width: 100%;
    height: 500px;
    border-top: 1px solid #ffa67d;
    margin-top: 250px;
}

.footer1 {
    max-width: 1900px;
    overflow: auto;
    margin: 0 auto;
    /* border: 1px solid red; */
}

.arrowbtn {
    background: none;
    border: none;
    cursor: pointer;
    position: fixed;
    top: 90%;
    right: 50px;
}

.rhdwl1 {height: 100px;}

.rhdwl1 > ul {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
    padding-bottom: 80px;
    margin-left: 270px;
}
  
.rhdwl1 > ul > li a {
    text-decoration: none;
    color: rgb(83, 83, 83);
}

.rhdwl1 > ul > li a:hover {
    font-weight: 600;
    color: #ff915d;
}
  
.rhdwl1 > ul > li {
    float: left;
    padding: 30px;
    font-size: 20px;
    /* border: 1px solid black; */
}
  
.rhdwl1 > ul > li::after {
    content: "ㅣ";
    float: right;
    color: black;
    margin-right: -35px;
  }
  
.rhdwl1 > ul > li:last-child::after {
    content: "";
}

.rhdwl2txt {
    font-weight: 600;
}

.rhdwl2 {
    max-width: 1900px;
    overflow: hidden;
    display: flex;
    margin-top: 60px;
    justify-content:space-around;
    font-family: 'Nanum Gothic', sans-serif;
}

.center1  {
    color: rgb(83, 83, 83);
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 18px;
}

.center2 {
    width: 200px;
    height: 50px;
    margin-left: 85px;
    line-height: 50px;
    background: #ffb592;
    border-radius: 15px;
}

.center2 a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}

.midrhdwl2 a {
    text-decoration: none;
    padding: 10px;
}

.right1 {
    font-size: 18px;
}

.right2 { margin-top: 10px; }
.right2 a {
    color: #555;
    margin-top: 10px;
    font-size: 18px;
}

.rhdwl3 {
    max-width: 1900px;
    overflow: hidden;
    display: flex;
    justify-content:space-around;
    margin-top: 60px;
    font-family: 'Nanum Gothic', sans-serif;
}

.leftrhdwl3 {
    float: left;
    text-align: left;
    margin-right: 580px;
}

.leftrhdwl3 > p {
    font-size: 20px;
    color: #555;
    line-height: 39px;
}

.rightrhdwl3 {
    float: right;
    margin-right: 50px;
    margin-top: 60px;
}


.rightrhdwl3 a {
    font-size: 16px;
    text-decoration: none;
    color: #555;
    padding: 10px;
}
/* 메인 끝 */



